{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="blog-intro mw7 center mb5">
    <h2 class="f2 f1-ns lh-solid tc center fw4">{{ .Title | markdownify }}</h2>
    {{ with .Description }}<p class="f6 f5-ns measure lh-copy tc center">{{ . | markdownify }}</p>{{ end }}
    {{ if .Params.show_author_byline }}<p class="f7 measure lh-copy tc center i">{{ if .Params.author }}Written by {{ .Params.author }}{{ end }}</p>{{ end }}
  </section>
  <section class="blog-content mw7 center">
    {{ range .Params.writing }}
    <article class="mv2 mv3-l bb">
      <div class="measure-wide center mb2 mb3-l">
        <header>
          <h1 class="f3 mt0 mb2 lh-title underline fw4"><a href="{{ .url }}" class="db" target="_blank" rel="noopener noreferrer">{{ .title | markdownify }}</a></h1>
        </header>
        {{ with .outlet }}<p class="lh-copy mb2"><span style="font-size:.9em">{{ . | markdownify }}</span></p>{{ end }}
      </div>
    </article>
    {{ end }}
  </section>
</main>
{{ end }}
